---
layout: base
---
<div class="sidebar">
    {% include menu.html %}
</div>
<div class="content api-content">
    <h1>{{ page.title }}</h1>
    <article class="api-topic">
        <section class="api-topic-section">
        {{ content }}
        </section>
        {% if page.docsection %}
        {% assign resources = site.data.resources | where:"docsection",page.docsection %}
        {% for res in resources %}
        <article class="api-resource">
            {% assign path_segments = res.url | split:"/" %}
            <h2>{% for seg in path_segments %}{% if seg contains '{' %}<var>{{ seg }}</var>{% else %}{{ seg }}{% endif %}{% if seg != path_segments.last %}/{% endif %}{% endfor %}</h2>
            <div>{{ res.doc | markdownify }}</div>
            {% for method in res.methods %}
                <section class="api-method">
                    <h3>{{ method.method }}</h3>
                    <div>{{ method.doc | markdownify}}</div>
                </section>
            {% endfor %}
        </article>
        {% endfor %}
        {% endif %}
    </article>
</div>
