---
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css"/>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/">Zetkin developer portal</a>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/platform">The Platform</a></li>
                    <li><a href="/api">Reference</a></li>
                    <li><a href="/contributing">Contributing</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            {{ content }}
        </div>
    </body>
</html>
