---
title: Home
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css"/>
    </head>
    <body>
        <div class="menu">
            {% include menu.html %}
        </div>
        <div class="content">
            <h1>{{ page.title }}</h1>
            <article class="api-topic">
                <section class="api-topic-section">
                {{ content }}
                </section>
                {% assign resources = site.data.resources | where:"docsection",page.docsection %}
                {% for res in resources %}
                <article class="api-resource">
                    <h2>{{ res.url }}</h2>
                    <div>{{ res.doc }}</div>
                    {% for method in res.methods %}
                        <section class="api-method">
                            <h3>{{ method.method }}</h3>
                            <div>{{ method.doc }}</div>
                        </section>
                    {% endfor %}
                </article>
                {% endfor %}
            </article>
        </div>
    </body>
</html>
